rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function signedIn() {
      return request.auth != null;
    }

    function isAdmin() {
      return signedIn() && request.auth.token.email in [
        "guillermoneculqueo@gmail.com",
        "escuelaespecial023@gmail.com",
        "web.escuelaespecial23@gmail.com"
      ];
    }

    function isPublished() {
      return resource.data.estado == "publicado";
    }

    function isVisible() {
      return resource.data.visible == true;
    }

    match /novedades/{docId} {
      allow read: if isPublished() || isAdmin();
      allow create, update, delete: if isAdmin();
    }

    match /galeria/{docId} {
      allow read: if isVisible() || isAdmin();
      allow create, update, delete: if isAdmin();
    }

    match /canalVideos/{docId} {
      allow read: if resource.data.estado == "publicado" || isAdmin();
      allow create, update, delete: if isAdmin();
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}
